<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32002">
        <setting id="notice_offset" label="32003" type="slider" default="20" range="5,5,120" option="int" />
        <setting id="notice_timing" label="32004" type="slider" default="20" range="5,5,60" option="int" />
        <setting id="logging" type="bool" label="32005" default="false"/>
    </category>
</settings>
